.tahoma-font {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 18px;
}

.deals-black {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.deals-red {
  font-family: Arial;
  color: red;
  font-style: italic;
  margin-top: 0px;
}

.course1 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.course2 {
  font-family: Verdana;
  color: gray;
  margin-top: 0px;
  font-size: 13px;
}

.course3 {
  font-family: Verdana;
  width: 225px;
}

.course-button {
  font-family: Verdana;
  background-color: green;
  color: white;
  border: none;
  padding: 8px 17px;
  border-radius: 5px;
}

.apple1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.apple2 {
  font-family: Arial;
  font-size: 13px;
  text-align: center;
}

.apple3 {
  font-family: Arial;
  font-size: 13px;
  color: rgb(73, 57, 179);
  text-align: center;
}

.macbook1 {
  font-family: Arial;
  font-size: 11px;
  color: red;
  text-align: center;
  margin-bottom: 4px;
}

.macbook-title {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4px;
}

.macbook-description {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4px;
}

.macbook-price {
  font-family: Arial;
  font-size: 11px;
  color: gray;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 4px;
}

.macbook-button {
  font-family: Arial;
  font-size: 11px;
  background-color: rgb(35, 108, 203);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 14px;
  margin-top: 8px;
}

.stock-price {
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 4px;
}

.stock-currency {
  font-family: Arial;
  color: gray;
  font-size: 14px;
}

.stock-adjustment {
  font-family: Arial;
  color: rgb(2, 83, 2);
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.stock-after-hours {
  font-family: Arial;
  color: gray;
  margin-top: 0px;
}

.stock-after-hours-adjustment {
  color: rgb(162, 3, 3);
}

.code-camp-heading {
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 4px;
}

.code-camp-heading2 {
  font-family: Arial;
  font-weight: normal;
  color: gray;
}
.code-camp-content {
  font-family: Arial;
  width: 500px;
  margin-top: 0px;
}

.code-camp-example-name {
  color: rgb(0, 157, 255);
}
